/* @font-face {
  font-family: 'Impact', sans-serif;
  src: local("Impact"),
      url(./fonts/Impact-Font/impact.ttf) format("truetype");
} */


* {
  /* font-family: 'Inter', sans-serif; */
  /* font-family: 'Karla', sans-serif; */ 
  font-family: "Impact", sans-serif;
  font-style: normal;
  margin: 0;
}

.header{
  max-height: 65px;
  display: flex;
  flex-direction: row;
  height: 100px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 20px 37px 20px 20px;
  align-items: center;
}

.header--image{
   width: 32px; 
   height: 24px;

}

.header--title{
  font-family: 'Karla';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  margin-left: 10px;
}

.header--subtitle{
  font-family: 'Inter';
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
  margin-left: auto;
}